@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    --background-start-hsl: 250 33% 23%; /* #2F284E */
    --background-end-hsl: 250 33% 13%;

    --background: var(--background-start-hsl);
    --foreground: 210 40% 98%;
    --card: 250 33% 28%;
    --card-foreground: 210 40% 98%;
    --popover: 250 33% 20%;
    --popover-foreground: 210 40% 98%;
    --primary: 334 67% 83%; /* #EEBBD5 */
    --primary-foreground: 334 50% 20%;
    --secondary: 250 33% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 250 33% 30%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 334 67% 83%;
    --accent-foreground: 334 50% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 33% 35%;
    --input: 250 33% 35%;
    --ring: 334 67% 83%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 250 33% 23%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 334 67% 83%;
    --sidebar-primary-foreground: 334 50% 20%;
    --sidebar-accent: 334 67% 83%;
    --sidebar-accent-foreground: 334 50% 20%;
    --sidebar-border: 250 33% 35%;
    --sidebar-ring: 334 67% 83%;
  }

  .dark {
    --background: var(--background-start-hsl);
    --foreground: 210 40% 98%;
    --card: 250 33% 28%;
    --card-foreground: 210 40% 98%;
    --popover: 250 33% 20%;
    --popover-foreground: 210 40% 98%;
    --primary: 334 67% 83%;
    --primary-foreground: 334 50% 20%;
    --secondary: 250 33% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 250 33% 30%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 334 67% 83%;
    --accent-foreground: 334 50% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 33% 35%;
    --input: 250 33% 35%;
    --ring: 334 67% 83%;
  }
}

@layer components {
  .custom-gradient {
    background-image: linear-gradient(to bottom, #1D0A57, #0C061E);
    border: 1px solid #4825AE;
  }
  .custom-gradient-text {
    color: white;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: hsl(var(--background-end-hsl));
  }
}
